In [115]:
#importing dependencies

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

from sklearn.ensemble import RandomForestClassifier  
from sklearn.model_selection import train_test_split
%matplotlib inline

In [116]:

mnist_dataset = pd.read_csv("mnist.csv")

In [134]:
#viewing column heads
mnist_dataset.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [136]:
#extracting data from the dataset on viewing them up close

a = mnist_dataset.iloc[1,3:].values

In [142]:
#to able to viwe it,, reshaping the extracted data into a reasonable size
a = a.reshape(28,28).astype('uint8')
plt.imshow(a)

ValueError: cannot reshape array of size 781 into shape (28,28)

In [125]:
#separate the label values cz we only need pixel values

df_x = mnist_dataset.iloc[:,1:]
df_y = mnist_dataset.iloc[:,0]

In [126]:
#creating test & train sizes/batches
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size = 0.2,random_state=4)

In [127]:
#check data
x_train.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
6583,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24074,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20884,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [128]:
y_train.head()

6583     0
8731     0
24074    0
20884    0
15500    0
Name: pixel0, dtype: int64

In [129]:
#calling rf:random forest classifier
rf = RandomForestClassifier(n_estimators=100)

In [130]:
#fit the model
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [131]:
#prediction on test data
pred = rf.predict(x_test)

In [132]:
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [133]:
#check prediction accuracy
s = y_test.values

#calculate no. of corrected predicted values
count = 0
for i in range(len(pred)):
    if pred[i] == s[i]:
        count=count+1

In [83]:
count

5600

In [84]:
# total values for prediction code was run on
len(pred)

5600

In [85]:
#accuracy value
11625/12000

0.96875